{% extends 'ribbon/base.html' %}

{% block content %}
<section class="showcase">
    <div class="grid">
        {% for ribbon in ribbons %}
            <div class="card">
                <img src="{{ribbon.image.url}}" alt="">
                <div class="options flex fd-col">
                    <p>{{ribbon.ribbon_name}}</p>
                    <div class="flex jc-sb actions">
                        <div class="cta">
                            <button>Купить</button>
                            {% if request.user.is_authenticated %}
                            <button class="card">Корзина</button>
                            {% endif %}
                        </div>
                        <h3>{{ribbon.price}} p</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}

