{% extends 'ribbon/base.html' %}

{% block content %}
    <section class="register">
        <div class="card">
            <form method="POST" action="" class="flex fd-col">
                <h2>Ленточный Фейверк</h2>
                {% csrf_token %}
                <div class="creden"><p>Имя: </p>{{form.username}}</div>
                <div class="creden"><p>Пароль: </p>{{form.password}}</div>
                 <input type="submit" class="button" value="Войти">
                 <!-- <p>Don't have an account?<a href="{% url 'register' %}">Register</a></p> -->
            </form>
        </div>
    </section>
{% endblock content %}