{% extends 'ribbon/base.html' %}

{% block content %}
    <section class="orderinfo">
        <h2>Мои Заказы</h2>
        <table>
            <tr>
              <td>Заказ</td>
              <td>Дата заказа</td>
              <td class="hide">Кол</td>
              <td>Сумма</td>
              <td>Статус</td>
            </tr>
            {% for orderinfo in orderinfos %}
                {% if orderinfo %}
                <tr>
                    <td><a href="{% url 'orderinfo-detail' orderinfo.id %}">{{orderinfo.id}}</a></td>
                    <td><a href="{% url 'orderinfo-detail' orderinfo.id %}">{{orderinfo.date_formated}}</a></td>
                    <td class="hide"><a href="{% url 'orderinfo-detail' orderinfo.id %}">{{orderinfo.get_quantity_total}}</a></td>
                    <td><a href="{% url 'orderinfo-detail' orderinfo.id %}">{{orderinfo.order_total|floatformat:2}}p</a></td>
                    <td><a href="{% url 'orderinfo-detail' orderinfo.id %}">{{orderinfo.status}}</a></td>
                </tr>
                {% else %}
                    <br>
                    <p>У Вас нет заказов.</p>
                    <br>
                {% endif %}
            {% endfor %}
          </table>
    </section>
{% endblock content %}