@media(max-width: 700px) {


    .container {
        padding: 0 5px;
    }

    .navbar {
        height: 110px;

        .flex {
            flex-direction: column;
            justify-content: space-evenly;

            h1 {
                font-size: 22px;
            }

            .flex {
                flex-direction: row;
            }
        }
    }  
    
    .single_purchase {
    
        .flex {
            flex-direction: column;

            .flex {flex-direction: row;}
            
            .ribbon_info {
                width: 90%;
                order: 2;
                margin: 0 auto;
    
                img {display: none;}
            }
    
            .purchase {
                width: 100%;
                order: 1;

                .card {width: 95%;}
            }
        }

    }

    .orderinfo {
        width: 100%;
        margin: 20px auto;

        h2 {
            margin: 10px auto;
        }

        table {
            margin: 0;
            width: 100%;
        }
        
        .hide {
            display: none;
        }

    }

    .orderinfo-detail {
        
        .flex {
            width: 100%;
        }

    }

    .cart-page {
        margin-top: 20px;

        .flex {
            flex-direction: column;

            .cart {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;

                table {
                    width: 100%;
                }

                .flex {
                    flex-direction: row;
                }
            }

            .form {
                width: 90%;
                margin: 0 auto;

                .card {
                    width: 100%;
                }
            }
        }
    }
} 