@import 'variables';
@import 'utility';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $white-color;
    // background-color: red; 
    color: $dark-color;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
    color: $white-color;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button, .button {
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: $green-color;
    color: $white-color;
    cursor: pointer;
    outline: none;
}

button:hover, .button:hover {
    transform: scale(1.02);
}

p {
    font-size: $main-font-size;
}

input[type='text'], input[type='password'], input[type='number'], textarea {
    @extend %field-shared;
}

.navbar {
    background-color: $green-color;
    height: 70px;
    
    a {
        color: $white-color;
        margin: 0 5px;
        font-size: $main-font-size;
    }
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;
        height: 0;}
    100% {opacity: 0;
        height: 0;}
}

.showcase {
    margin: 40px auto;

    .message {
        width: 90%;
        margin: 0 auto;

        .jc-c {
            color: $green-color;
            font-size: 16px;
            margin-bottom: 25px;
            animation: cssAnimation 8s forwards;
        }
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .options {
        height: 80px;

        p {
            font-size: $main-font-size;
        }

        .actions {
            padding: 0 20px;

            .cart {
                background-color: $yellow-color;
            }
        }
    }

    button {
        padding: 10px;
    }

    .about {
        max-width: 1000px;
        margin: 40px auto;

        a {
            color: $green-color;
        }
    }

}

.register {
    margin: 50px auto;

    .card {
        margin: auto;
        max-width: 350px;
        padding: 20px;

        h2 {
            font-size: 20px;
            margin: 10px auto;
        }

        .button {
            padding: 10px;
            margin: 10px auto;
            margin-top: 20px;
        }


        .creden {
            width: 80%;
            margin: 5px auto;

            p {
                font-weight: 100;
                font-size: 13px;
            }

        }

        a {
            color: $green-color;
        }
    }
}

.single_purchase {
    width: 100%;
    margin: 50px auto;

    .ribbon_info {
        width: 49%;
        margin: 50px auto;

        a {color: $green-color;}

        
        .back {
            a {
                text-decoration: underline;
            }
        }
        
        
    }

    .purchase {
        width: 49%;

        .card {
            width: 80%;
            margin: 0 auto;
            padding: 40px 20px;

            p {
                font-size: 13px;
                font-weight: 100;
                width: 90%;
                margin: 5px auto;
            }

            .button {
                padding: 10px;
                margin: 10px auto;
                
            }
            
            .get_quantity {
                width: 100%;
                margin: 5px auto;

                img {
                    width: 80px;
                }

                h4 {
                    font-weight: 300;
                    text-align: center;
                    // margin: 0 5px;
                    margin-right: 10px;
                }

                p {
                    margin: 0;
                    width: 80px;
                    font-weight: 700;
                    font-size: 16px;
                }

                input[type='number'] {
                    width: 55px;
                }

            }

            textarea {
                height: 100px;
                padding: 5px;
            }

        }
    }
}

.orderinfo {
    width: 100%;
    margin: 40px auto;

    h2 {
        font-size: 20px;
        text-align: center;
        margin: 20px auto;
    }

    table {
        width: 80%;
        margin: 0 auto;

        tr {

            td {
                text-align: center;
                padding: 10px 5px;

                a {
                    color: $dark-color;
                }
            }
        }
        tr:hover {
            transform: scale(1.01);

        }
    } 
}

.orderinfo-detail {
    width: 100%;
    margin: 40px auto;

    h2 {
        font-size: 20px;
        text-align: center;
    }

    #head {
        margin: 20px auto;
    }

    .flex {
        width: 80%;
        margin: 0 auto;

        .fd-row {
            margin: 5px auto;

            img {
                width: 70px;
                text-align: center;
                width: 80px;
            }
            
            p {
                text-align: center;
                width: 100px;
                font-size: 16px;
            }
        }
    }
}

.footer {
    margin: 20px auto;
}



// Mobile and Tablet
@import 'mobile';